* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: sans-serif;
}

.container {
    background-image: linear-gradient(to bottom, #5a6894, #53608c, #4c5883, #45507b, #3e4873);
    color: #ffffff;
    margin: 2% auto;
    border-radius: 10px;
    max-width: 400px;
    font-weight: 300;
    padding: 3%;
    font-size: 1.3rem;
    box-shadow: 1px 1px 13px 1px rgba(8, 17, 59, 0.63);
}

h1 {
    font-size: 3.5rem;
    font-weight: 600;
    text-align: center;
    padding-bottom: 5%;
}

h2 {
    text-align: center;
    padding: 3% 0 1% 0;
}

.flex_select {
    display: flex;
    justify-content: space-between;
}

.flex_select input {
    width: 14px
}

.flex_select_satz {
    padding: 0 40%;
    display: flex;
    justify-content: space-between;
}



.container_form {}